/* GENERAL */
:root {
  --black: #272a31;
  --light-black: #595959;
  --fire-orange: #ec5242;
  --light-gray: #d3d3d3;
  --coco: 'COCOGOOSE', sans-serif;
  --lato: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--lato);
}

/* NAVBAR */
.mobile{
  display: flex;
  padding: 1rem;
  background-color: rgb(243,243,243);
}

/* HEADLINE */
.headline, .about-headline{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgb(243,243,243);
}

h2{
  font-size: 14px;
  color: var(--fire-orange);
  margin-bottom: 5px;
  font-weight: 400;
}

.about-headline h2{
  text-align: center;
  margin-bottom: 10px;
}

h1{
  font-family: var(--coco);
  font-size: 32px;
  color: var(--fire-orange);
  line-height: 32px;
}

.about-headline h1{
  text-align: center;
}

.headline p:first-of-type{
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  border: 3px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--light-black);
  font-weight: 600;
}

.about-headline p:first-of-type{
  font-size: 12px;
  text-align: center;
  padding: 10px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 25px;
  border: 1px solid var(--light-gray);
}

h4{
  font-family: var(--coco);
  font-size: 24px;
  color: var(--light-black);
}

.headline p:last-of-type{
  color: var(--light-black);
  font-size: 14px;
  font-weight: 600;
}

.about-headline p:nth-child(4){
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}

.about-headline p:nth-child(5){
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
}

/* PROGRAM */
.program{
  background-color: var(--black);
  color: white;
  padding: 1rem;
  font-family: var(--lato);
}

h3{
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.title-rule{
  border: 1px solid var(--fire-orange);
  width: 40px;
  margin: auto;
  margin-bottom: 20px;
}

.program-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.program-item{
  background-color: #3c3f46;
  display: flex;
  align-items: center;
  font-family: var(--lato);
  gap: 20px;
  padding: 10px;
}

.program-item i{
  width: 100px;
}

.program-item p:first-of-type{
  color: var(--fire-orange);
  font-weight: 700;
  width: 200px;
}

.program-item p:last-of-type{
  font-size: 12px;
}

button{
  padding: 20px;
  background-color: var(--fire-orange);
  border: none;
  color: white;
  margin: 30px;
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

button:hover, button:active{
  background-color: white;
  color: var(--fire-orange);
}

/* DJS SECTION */
.djs{
  padding: 1rem;
}

.grid-container{
  display: grid;
  gap: 20px;
}

.grid-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-item img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 8px
}

.description p:nth-child(1){
  font-weight: 900;
}

.description p:nth-child(2){
  color: var(--fire-orange);
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.dj-rule{
  width: 20px;
}

.description p:nth-child(4){
  font-size: 10px;
}

/* LINEUP */
.lineup{
  background-color: var(--black);
  color: white;
  padding: 1rem;
  font-family: var(--lato);
}

.logos{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logos img{
  height: 40px;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

footer img{
  width: 140px;
}

footer p{
  font-size: 12px;
}


/* ABOUT ME PAGE */
/* INFORMATION & PREVIOUS*/
.information{
  padding: 3rem 2rem;
}

.information p:nth-child(3), .previous p:nth-child(3){
  text-align: center;
  font-size: 12px;
  padding: 0 1rem;
}

.information img{
  width: 100%;
  border: 1px solid var(--light-gray);
  padding: 2rem;
  margin: 3rem 0;
}

.previous{
  border-top: 1px solid var(--light-gray);
  padding: 2rem 3rem;
  text-align: center;
}

.previous img{
  width: 100%;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-40deg) saturate(600%);
}

.container{
  position: relative;
  margin: 1rem 0;
}

.container p:nth-child(2){
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  font-weight: 800;
}

.container p:nth-child(3){
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  width: 300px;
}