/* GENERAL */
:root {
  --black: #272a31;
  --light-black: #595959;
  --fire-orange: #ec5242;
  --light-gray: #d3d3d3;
  --coco: 'COCOGOOSE', sans-serif;
  --lato: 'Lato', sans-serif;
}

body{
  background-color: rgb(243,243,243)
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.mobile{
  display: flex;
  padding: 1rem;
}

/* HEADLINE */
.headline{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

h2{
  font-family: var(--lato);
  font-size: 14px;
  color: var(--fire-orange);
  margin-bottom: 5px;
  font-weight: 400;
}

h1{
  font-family: var(--coco);
  font-size: 32px;
  color: var(--fire-orange);
  line-height: 32px;
}

.headline p:first-of-type{
  font-family: var(--lato);
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  border: 3px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--light-black);
  font-weight: 600;
}

h4{
  font-family: var(--coco);
  font-size: 24px;
  color: var(--light-black);
}

.headline p:last-of-type{
  font-family: var(--lato);
  color: var(--light-black);
  font-size: 14px;
  font-weight: 600;
}

/* PROGRAM */
.program{
  background-color: var(--black);
  color: white;
  padding: 1rem;
  font-family: var(--lato);
}

h3{
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.title-rule{
  border: 1px solid var(--fire-orange);
  width: 40px;
  margin: auto;
  margin-bottom: 20px;
}

.program-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.program-item{
  background-color: #3c3f46;
  display: flex;
  align-items: center;
  font-family: var(--lato);
  gap: 20px;
  padding: 10px;
}

.program-item p:first-of-type{
  color: var(--fire-orange);
  font-weight: 700;
}

.program-item p:last-of-type{
  font-size: 12px;
}

button{
  padding: 20px;
  background-color: var(--fire-orange);
  border: none;
  color: white;
  margin: 30px;
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

/* DJS SECTION */
.djs{
  padding: 1rem;
}

.grid-container{
  display: grid;
  gap: 20px;
}

.grid-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-item img{
  width: 120px;
  height: 120px;
}

.description{
  font-family: var(--lato);
  display: flex;
  flex-direction: column;
  gap: 8px
}

.description p:nth-child(1){
  font-weight: 900;
}

.description p:nth-child(2){
  color: var(--fire-orange);
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.dj-rule{
  width: 20px;
}

.description p:nth-child(4){
  font-size: 10px;
}

/* LINEUP */
.lineup{
  background-color: var(--black);
  color: white;
  padding: 1rem;
  font-family: var(--lato);
}

.logos{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logos img{
  height: 40px;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

footer img{
  width: 140px;
}

footer p{
  font-family: var(--lato);
  font-size: 12px;
}